@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

/* #040303 */
/* #461111 */
/* #A13333 */
/* #B3541E */
@layer utilities {
  .stroke-h {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #b3541e;
  }
  .glow-border {
    border: #e7e4e4;
    box-shadow: 0 0 4px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #ffffff,
      0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  }
  .glow-border-2 {
    border: #e7e4e4;
    box-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #ffffff,
      0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

body {
  /* background-color: #000000; */
  font-family: "Fira Sans", sans-serif;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
